* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #eaf6fb;
  align-items: center;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header-group {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.logo {
  width: 70px;
  margin-left: 40px;
}

.list {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
  line-height: 70px;
  font-size: 16px;
  color: #000;
}

#hm-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}
/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

form {
  text-align: center;
  height: 650px;
  font-size: 20px;
}

input {
  font-size: 20px;
}

.form-text {
  width: 100%;
  margin-top: 20px;
}

.mv {
  height: 500px;
  margin-top: 30px;
}

.about-title {
  text-align: center;
  background-color: yellow;
  margin-top: 50px;
  font-size: 40px;
}

.about-text {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 50px;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #eaf6fb;
  line-height: 60px;
}

.footer {
  font-size: 16px;
  color: #000;
  text-align: center;
}